fastapi
uvicorn
typing-extensions
python-multipart
numpy
pandas
umap-learn
scikit-learn
langchain-core
langchain-openai
pydantic
nest-asyncio
openai
tiktoken
langchain
langchain-community
chromadb
langchain
PyPDF2